* {
    margin: 0px;
    padding: 0px;
    font-family: 'PP Neue Montreal', sans-serif;
}

body {
    width: 1440px;
    background-color: #F8F9FA;
    ;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('./fonts/PPNeueMontreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('./fonts/PPNeueMontreal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.main-logo {
    width: 208px;
    height: 64px;
    padding-left: 32px;
    padding-top: 27px;
}

.right-side {
    width: 1200px;
    background-color: #F8F9FA;
}

ul {
    svg {
        position: relative;
        top: 7px;
        right: 3px;
    }
}

aside {
    h3 {
        width: 240px;
        height: 64px;
        ;
    }
}

.sidebar {
    height: 1080px;
    width: 240px;
    background-color: #212529;
    color: #FFFFFF;
    transition: width 0.3s;

    &.collapsed {
        width: 80px;

        .nav-text,
        .main-logo,
        .user {
            display: none;
        }
    }
}

.top {
    display: flex;
}

.collapse {
    position: absolute;
    left: 190px;
}

aside {
    ul {
        list-style-type: none;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 2.5%;
        font-size: 14px;
    }
}

.list-ele {
    height: 48px;
    border: none;
    padding-left: 16px;
    padding-top: 4px;
    border: 0px solid transparent;
    margin-bottom: 5px;
}

.list-ele:hover {
    border: 0.1px solid transparent;
    border-radius: 8px;
    background-color: #343A40;
}

.working-opt {
    padding-left: 32px;
    padding-top: 16px;
    width: 176px;
}

.settings {
    span {
        font-size: 14px;
        color: #495057;
    }

    height: 186px;
    width: 176px;
    padding-left:32px;
    padding-top: 16px;
}

.main-set {
    margin-top: 16px;
}

.fullDoc {
    display: flex;
}

.account-part {
    position: relative;
    left: 1000px;
    top: 11px;
    margin-bottom: 12px;
    width: 265px;
}

.New-cust {
    h1 {
        position: relative;
        left: 30px;
        top: 70px;
        margin-top: 16px;
        width: 270px;
    }
}

.line2 {
    span {
        color: #6C757D;
        font-size: 14px;
    }
    p{
        position: relative;
        top:90px;
        left:30px;
    }
}

.upload-box{
    width:1220px;
    height:784px;
    position: relative;
    top:100px;
    margin-left:32px;
    margin-top:38px;
    background-color: white;
    border-radius: 8px;
    .border-box{
        width:1180px;
        height:750px;
        margin-left:16px;
        margin-bottom:16px;
        position: relative;
        top:16px;
        svg{
            position: relative;
            top:160px;
            left:440px;
        }
        pre{
            font-size: 24px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            position: relative;
            top:170px;
            line-height: 40px;
        }
        h2{
            display: flex;
            justify-content: center;
            font-size: 38px;
            position: relative;
            top:170px;
            line-height: 65px;
        }

    }
    .border-box:hover{
        border: 1px dashed #3F87FD;
        background-color: #CBE4FE;
        border-width: 5px;
    }
}