* {
  margin: 0px;
  padding: 0px;
  font-family: "PP Neue Montreal", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
  min-height: 100vh;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.main-logo {
  width: 208px;
  height: 64px;
  padding-left: 32px;
  padding-top: 27px;
}

.right-side {
  background-color: #F8F9FA;
}

ul svg {
  position: relative;
  top: 7px;
  right: 3px;
}

aside h3 {
  width: 240px;
  height: 64px;
}

.sidebar {
  height: 1024px;
  width: 240px;
  background-color: #212529;
  color: #FFFFFF;
  transition: width 0.3s;
}
.sidebar.collapsed {
  width: 80px;
}
.sidebar.collapsed .nav-text,
.sidebar.collapsed .main-logo,
.sidebar.collapsed .user {
  display: none;
}

.top {
  display: flex;
}

.collapse {
  position: absolute;
  left: 190px;
}

aside ul {
  list-style-type: none;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 2.5%;
  font-size: 14px;
}

.list-ele {
  height: 52px;
  border: none;
  padding-left: 16px;
  padding-top: 4px;
  border: 0px solid transparent;
  margin-bottom: 5px;
  width: 176px;
}

.list-ele:hover {
  border: 0.1px solid transparent;
  border-radius: 8px;
  background-color: #343A40;
}

.working-opt {
  position: relative;
  top: 4px;
  padding-left: 32px;
  padding-top: 40px;
  width: 176px;
}
.working-opt a {
  text-decoration: none;
  color: #FFFFFF;
}

.settings {
  height: 186px;
  width: 176px;
  padding-left: 32px;
  padding-top: 16px;
}
.settings span {
  font-size: 14px;
  color: #495057;
}

.main-set {
  margin-top: 16px;
}

.fullDoc {
  display: flex;
}

.account-part {
  position: relative;
  left: 900px;
  top: 11px;
  margin-bottom: 12px;
  width: 265px;
}

.New-cust {
  position: relative;
  top: -18px;
}
.New-cust h1 {
  position: relative;
  left: 30px;
  top: 70px;
  margin-top: 16px;
  width: 270px;
}

.line2 span {
  color: #6C757D;
  font-size: 14px;
}
.line2 p {
  position: relative;
  top: 90px;
  left: 30px;
}

.upload-box {
  width: 1136px;
  height: 784px;
  position: absolute;
  margin-left: 32px;
  margin-top: 115px;
  background-color: white;
  border-radius: 8px;
}
.upload-box .border-box {
  width: 1104px;
  height: 752px;
  margin-left: 16px;
  margin-bottom: 16px;
  position: absolute;
  top: 16px;
}
.upload-box .border-box .main-pic {
  position: relative;
  top: 160px;
  left: 400px;
}
.upload-box .border-box pre {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  position: relative;
  top: 170px;
  line-height: 40px;
}
.upload-box .border-box h2 {
  display: flex;
  justify-content: center;
  font-size: 38px;
  position: relative;
  top: 170px;
  line-height: 65px;
}
.upload-box .border-box .btns {
  position: relative;
  right: 40px;
  display: flex;
  gap: 8px;
}
.upload-box .border-box a {
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  top: 190px;
  left: 380px;
}
.upload-box .border-box a svg {
  color: #0057FC;
}
.upload-box .border-box:hover {
  border: 1px dashed #3F87FD;
  background-color: #CBE4FE;
  border-width: 5px;
}
.upload-box .error {
  visibility: hidden;
  width: 1104px;
  height: 752px;
}
.upload-box .error .text {
  position: absolute;
  top: 320px;
  left: 330px;
  text-align: center;
}
.upload-box .error .btns {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 460px;
  left: 385px;
  margin-top: 60px;
}
.upload-box .error a {
  width: 200px;
  height: 48px;
  display: flex;
  /* aligns icon + text in row */
  align-items: center;
  /* centers vertically */
  justify-content: center;
}
.upload-box .error a svg {
  color: #0057FC;
}
.upload-box .error pre {
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.upload-box .error h2 {
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size: 38px;
  line-height: 70px;
  margin-top: 20px;
}
.upload-box .error .error-msg {
  width: 536px;
  height: 112px;
  padding-top: 39px;
  padding-left: 30px;
  padding-bottom: -10px;
  padding-right: 30px;
  border: 1px solid red;
  border-radius: 8px;
  position: absolute;
  left: 330px;
  top: 200px;
}
.upload-box .error .error-msg p {
  width: 472px;
}
.upload-box .uploading {
  visibility: hidden;
  position: absolute;
  top: 20px;
}
.upload-box .uploading .up-box {
  width: 534px;
  height: 140px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #CED4DA;
  border-radius: 8px;
  padding-left: 32px;
  position: absolute;
  left: 300px;
  top: 200px;
}
.upload-box .uploading .bar {
  height: 20px;
  position: absolute;
  width: 400px;
  left: 112px;
  top: 90px;
}
.upload-box .uploading p {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  line-height: 40px;
}
.upload-box .uploading a {
  position: absolute;
  top: 480px;
  left: 450px;
}

.u {
  font-size: 38px;
  position: absolute;
  top: 380px;
  left: 450px;
  line-height: 65px;
}

.man {
  border: 1px solid #0057FC;
  color: #0057FC;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
}

.man:active {
  background-color: #0057FC;
  color: white;
}

.up {
  background-color: #0057FC;
  border: 1px solid transparent;
  color: white;
  border-radius: 8px;
}

.up:active {
  border: 1px solid #0057FC;
  color: #0057FC;
  border-radius: 8px;
  background-color: white;
}/*# sourceMappingURL=styleUP.css.map */